<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>background_day.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{288,512}</string>
    <key>spriteSourceSize</key>
    <string>{288,512}</string>
    <key>textureRect</key>
    <string>{{290,0},{288,512}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>background_night.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{288,512}</string>
    <key>spriteSourceSize</key>
    <string>{288,512}</string>
    <key>textureRect</key>
    <string>{{0,0},{288,512}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bird_blue_0.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{34,24}</string>
    <key>spriteSourceSize</key>
    <string>{34,24}</string>
    <key>textureRect</key>
    <string>{{438,624},{34,24}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bird_blue_1.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{34,24}</string>
    <key>spriteSourceSize</key>
    <string>{34,24}</string>
    <key>textureRect</key>
    <string>{{532,564},{34,24}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bird_blue_2.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{34,24}</string>
    <key>spriteSourceSize</key>
    <string>{34,24}</string>
    <key>textureRect</key>
    <string>{{498,598},{34,24}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bird_orange_0.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{34,24}</string>
    <key>spriteSourceSize</key>
    <string>{34,24}</string>
    <key>textureRect</key>
    <string>{{572,514},{34,24}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bird_orange_1.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{34,24}</string>
    <key>spriteSourceSize</key>
    <string>{34,24}</string>
    <key>textureRect</key>
    <string>{{740,212},{34,24}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bird_orange_2.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{34,24}</string>
    <key>spriteSourceSize</key>
    <string>{34,24}</string>
    <key>textureRect</key>
    <string>{{108,766},{34,24}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bird_red_0.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{34,24}</string>
    <key>spriteSourceSize</key>
    <string>{34,24}</string>
    <key>textureRect</key>
    <string>{{270,718},{34,24}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bird_red_1.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{34,24}</string>
    <key>spriteSourceSize</key>
    <string>{34,24}</string>
    <key>textureRect</key>
    <string>{{740,238},{34,24}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bird_red_2.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{34,24}</string>
    <key>spriteSourceSize</key>
    <string>{34,24}</string>
    <key>textureRect</key>
    <string>{{392,670},{34,24}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>button_menu.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{80,28}</string>
    <key>spriteSourceSize</key>
    <string>{80,28}</string>
    <key>textureRect</key>
    <string>{{580,438},{80,28}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>button_ok.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{80,28}</string>
    <key>spriteSourceSize</key>
    <string>{80,28}</string>
    <key>textureRect</key>
    <string>{{224,688},{80,28}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>button_pause.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{26,28}</string>
    <key>spriteSourceSize</key>
    <string>{26,28}</string>
    <key>textureRect</key>
    <string>{{306,688},{26,28}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>button_play_normal.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{104,58}</string>
    <key>spriteSourceSize</key>
    <string>{104,58}</string>
    <key>textureRect</key>
    <string>{{392,564},{104,58}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>button_play_pressed.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{104,58}</string>
    <key>spriteSourceSize</key>
    <string>{104,58}</string>
    <key>textureRect</key>
    <string>{{634,272},{104,58}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>button_rate_normal.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{62,36}</string>
    <key>spriteSourceSize</key>
    <string>{62,36}</string>
    <key>textureRect</key>
    <string>{{108,728},{62,36}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>button_rate_pressed.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{62,36}</string>
    <key>spriteSourceSize</key>
    <string>{62,36}</string>
    <key>textureRect</key>
    <string>{{634,362},{62,36}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>button_resume.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{26,28}</string>
    <key>spriteSourceSize</key>
    <string>{26,28}</string>
    <key>textureRect</key>
    <string>{{668,400},{26,28}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>button_score_normal.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{104,58}</string>
    <key>spriteSourceSize</key>
    <string>{104,58}</string>
    <key>textureRect</key>
    <string>{{224,628},{104,58}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>button_score_pressed.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{104,58}</string>
    <key>spriteSourceSize</key>
    <string>{104,58}</string>
    <key>textureRect</key>
    <string>{{634,212},{104,58}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>button_share.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{80,28}</string>
    <key>spriteSourceSize</key>
    <string>{80,28}</string>
    <key>textureRect</key>
    <string>{{634,332},{80,28}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ground.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{336,112}</string>
    <key>spriteSourceSize</key>
    <string>{336,112}</string>
    <key>textureRect</key>
    <string>{{0,514},{336,112}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>instructions.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{114,98}</string>
    <key>spriteSourceSize</key>
    <string>{114,98}</string>
    <key>textureRect</key>
    <string>{{108,628},{114,98}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>label_flappy_bird.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{178,48}</string>
    <key>spriteSourceSize</key>
    <string>{178,48}</string>
    <key>textureRect</key>
    <string>{{392,514},{178,48}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>label_game_over.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{192,42}</string>
    <key>spriteSourceSize</key>
    <string>{192,42}</string>
    <key>textureRect</key>
    <string>{{634,168},{192,42}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>label_get_ready.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{184,50}</string>
    <key>spriteSourceSize</key>
    <string>{184,50}</string>
    <key>textureRect</key>
    <string>{{634,116},{184,50}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>label_new.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{32,14}</string>
    <key>spriteSourceSize</key>
    <string>{32,14}</string>
    <key>textureRect</key>
    <string>{{626,468},{32,14}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>medal_bronze.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{44,44}</string>
    <key>spriteSourceSize</key>
    <string>{44,44}</string>
    <key>textureRect</key>
    <string>{{580,468},{44,44}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>medal_gold.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{44,44}</string>
    <key>spriteSourceSize</key>
    <string>{44,44}</string>
    <key>textureRect</key>
    <string>{{172,728},{44,44}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>medal_platinum.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{44,44}</string>
    <key>spriteSourceSize</key>
    <string>{44,44}</string>
    <key>textureRect</key>
    <string>{{224,718},{44,44}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>medal_silver.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{44,44}</string>
    <key>spriteSourceSize</key>
    <string>{44,44}</string>
    <key>textureRect</key>
    <string>{{392,624},{44,44}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>panel_score.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{226,114}</string>
    <key>spriteSourceSize</key>
    <string>{226,114}</string>
    <key>textureRect</key>
    <string>{{580,0},{226,114}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>pipe_green_bottom.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{52,320}</string>
    <key>spriteSourceSize</key>
    <string>{52,320}</string>
    <key>textureRect</key>
    <string>{{338,514},{52,320}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>pipe_green_top.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{52,320}</string>
    <key>spriteSourceSize</key>
    <string>{52,320}</string>
    <key>textureRect</key>
    <string>{{580,116},{52,320}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>pipe_red_bottom.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{52,320}</string>
    <key>spriteSourceSize</key>
    <string>{52,320}</string>
    <key>textureRect</key>
    <string>{{0,628},{52,320}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>pipe_red_top.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{52,320}</string>
    <key>spriteSourceSize</key>
    <string>{52,320}</string>
    <key>textureRect</key>
    <string>{{54,628},{52,320}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>rect_black.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{32,32}</string>
    <key>spriteSourceSize</key>
    <string>{32,32}</string>
    <key>textureRect</key>
    <string>{{634,400},{32,32}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>rect_white.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{32,32}</string>
    <key>spriteSourceSize</key>
    <string>{32,32}</string>
    <key>textureRect</key>
    <string>{{498,564},{32,32}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>spark_0.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{2,2}</string>
    <key>spriteSourceSize</key>
    <string>{10,10}</string>
    <key>textureRect</key>
    <string>{{330,636},{2,2}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>spark_1.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{6,6}</string>
    <key>spriteSourceSize</key>
    <string>{10,10}</string>
    <key>textureRect</key>
    <string>{{330,628},{6,6}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>spark_2.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{10,10}</string>
    <key>spriteSourceSize</key>
    <string>{10,10}</string>
    <key>textureRect</key>
    <string>{{144,766},{10,10}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{1024,1024}</string>
   <key>textureFileName</key>
   <string>flappy.png</string>
  </dict>
 </dict>
</plist>
